/* Colour Swatches 
rgb(154, 219, 232) blue
rgb(68, 0, 153) purple
rgb(199, 36, 177) pink*/

body {
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}

h1 {
    color: rgb(154, 219, 232);
    text-align: center;
    text-shadow: 0 0 0.5em rgb(154, 219, 232), 0 0 0.2em rgb(154, 219, 232),
        0 0 0.2em rgb(199, 36, 177);
}

p {
    color: rgb(154, 219, 232);
}

/* PRESS ANY KEY TO GET STARTED */
/* below hangman */
.hideMe {
    display:none;
}

.container {
    padding: 20px;
    width: 600px;
    height: 600px;
    margin: 20px auto;
    border: rgb(199, 36, 177) 4px dotted;
}

#quote, .word {
    color: rgb(154, 219, 232);
    text-align: center;
}

/* Start Page */
button {
    
}

.startPage {
    background: rgb(97, 151, 176);
}

/* Blinking */
.blinking {
    animation: blinkingText .9s infinite;
}

@keyframes blinkingText {
    0% {
        color: rgb(97, 151, 176); 
    }

    50% {
        color:
            transparent;
    }

    100% {
        color: rgb(97, 151, 176);
    }
}

}